// Reset default styles
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;} 
$background-color: #0B0C10;
$secondary-color: #C5C6C7;
$primary-color: #66FCF1;
$highlight-color: #45A29E;
$trimary-color: #1F2833;
$simple-transition: all 0.5s ease-in-out;
$bebas: 'Bebas Neue', cursive;
$pacifico: 'Pacifico', cursive;
body{
    background-color: $background-color;
    font-family: $bebas;
}
p {
    color: $secondary-color;
}

// Header-Icon-Shimmer-Stuff
.header{    
    font-family: $pacifico;
    font-size: 5rem;
    color: $primary-color;
    position: absolute;
    left: 0;
    top: 0;
    background:
    linear-gradient(-45deg, $highlight-color 40%, #fff 0 60%, $highlight-color 0) right/300% 100% no-repeat,
    linear-gradient(-45deg, transparent 40%, $highlight-color 0 60%, transparent 0) right/300% 100% no-repeat;
  -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.8s
}
.header:hover {
  background-position: left;
}
// Navigation
.corner-effect {
    background:
      linear-gradient($primary-color 0 0) 0 100%,
      linear-gradient($primary-color 0 0) 0 100%,
      linear-gradient($primary-color 0 0) 100% 0,
      linear-gradient($primary-color 0 0) 100% 0;
    background-size: 20px 3px, 3px 20px;
    background-repeat: no-repeat;
    transition: 0.5s;
  }
  .corner-effect:hover {
    background-position: 100% 100%, 0 0, 0 0, 100% 100%;
  }
nav{
    
    padding: 3rem;
    background-color: $trimary-color;
    
}
menu{
    top: 3%;
    right: 0;
    position: absolute;
    float: right;
    font-size: 2.5rem;
    
}
menu-item .nav-links{
    padding: 1rem;
    font-family: $bebas;
    color: $primary-color;
    transition: $simple-transition;
    text-decoration: none;
    
}
.nav-links:hover{
    color: $highlight-color;
    
}
// Type-writer effect
.typewriter-effect{
    padding: 3rem;
    color: $secondary-color;
    font-size: 4rem;
    margin-left: 40rem;
}
.type {
    display:inline-block;
    
  }
  .type > span {
    display: grid;
    overflow: hidden;
    height: 4rem;
  }
  .type span span {
    width:0%;
    max-width:max-content;
    overflow: hidden;
    height:inherit;
    word-break:break-all;
    animation:
      c 1s infinite steps(1),  
      t 2s linear infinite alternate,
      m 12s steps(3) infinite;
  }
  .type span span:before {
    content:" ";
    display:inline-block;
  }
  @keyframes t{
    90%,100% {width:100%}
  }
  @keyframes c{
    0%,100%{box-shadow:5px 0 0 $background-color}
    10%    {box-shadow:5px 0 0 $highlight-color  }
  }
  @keyframes m{
    100% {transform:translateY(-300%)}
  }
// 
.simple-line {
    background: 
        linear-gradient($highlight-color 0 0) 
        bottom /var(--d, 100%) 3px 
        no-repeat;
    transition:1s;
  }
  .simple-line:hover {
    --d: 20%;
  }
.intro{
    text-align: center;
    padding: 5rem;
    font-size: 3rem;
    cursor: default;
}

.tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $trimary-color;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 1rem;
    font-family: $bebas;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $primary-color transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }