html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #0B0C10;
  font-family: "Bebas Neue", cursive;
}

p {
  color: #C5C6C7;
}

.shimmer {
  /* styling stuff */
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.1019607843);
  position: absolute;
  left: 0;
  top: 0;
}

.shimmer {
  /* the shimmer magic */
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
.corner-effect {
  background: linear-gradient(#66FCF1 0 0) 0 100%, linear-gradient(#66FCF1 0 0) 0 100%, linear-gradient(#66FCF1 0 0) 100% 0, linear-gradient(#66FCF1 0 0) 100% 0;
  background-size: 20px 3px, 3px 20px;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.corner-effect:hover {
  background-position: 100% 100%, 0 0, 0 0, 100% 100%;
}

nav {
  padding: 3rem;
  background-color: #0B0C10;
}

menu {
  float: right;
  font-size: 2.5rem;
}

menu-item .nav-links {
  font-family: "Bebas Neue", cursive;
  color: #66FCF1;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
  text-decoration: none;
}

.nav-links:hover {
  color: #45A29E;
}

.typewriter-effect {
  padding: 3rem;
  color: #C5C6C7;
  font-size: 4rem;
  margin-left: 40rem;
}

.type {
  display: inline-block;
}

.type > span {
  display: grid;
  overflow: hidden;
  height: 4rem;
}

.type span span {
  width: 0%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  overflow: hidden;
  height: inherit;
  word-break: break-all;
  -webkit-animation: c 1s infinite steps(1), t 2s linear infinite alternate, m 12s steps(3) infinite;
          animation: c 1s infinite steps(1), t 2s linear infinite alternate, m 12s steps(3) infinite;
}

.type span span:before {
  content: " ";
  display: inline-block;
}

@-webkit-keyframes t {
  90%, 100% {
    width: 100%;
  }
}

@keyframes t {
  90%, 100% {
    width: 100%;
  }
}
@-webkit-keyframes c {
  0%, 100% {
    box-shadow: 5px 0 0 #0B0C10;
  }
  10% {
    box-shadow: 5px 0 0 #45A29E;
  }
}
@keyframes c {
  0%, 100% {
    box-shadow: 5px 0 0 #0B0C10;
  }
  10% {
    box-shadow: 5px 0 0 #45A29E;
  }
}
@-webkit-keyframes m {
  100% {
    transform: translateY(-300%);
  }
}
@keyframes m {
  100% {
    transform: translateY(-300%);
  }
}
.simple-line {
  background: linear-gradient(#45A29E 0 0) bottom/var(--d, 100%) 3px no-repeat;
  transition: 1s;
}

.simple-line:hover {
  --d: 20%;
}

.intro {
  text-align: center;
  padding: 5rem;
  font-size: 3rem;
  cursor: default;
}/*# sourceMappingURL=style.css.map */